
.grid-container {
  display: grid;
  grid-template-columns: auto ;
  gap: 30px;

}
.catagory {
  float: left;
}
.price {
  margin-top: 0%;
  float: right;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid #E0E4E9;
  border-radius: 5px;
  padding: 25px;
  padding-left: 50px;
  font-size: 20px;
  width: 639px;
  height: 120px;

}

.budget-max-width {

  margin: 0 auto;
  width: 639px;
height: 120px;
}


.face {
    position: relative;
    left: 5px;
    top: 30px;
}

.budget-bg{
  background: #f9fafb;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}
h1 {
  font-weight: bold;
}
.amount-1{

  color: #F26901;
  display: flex;
  align-items: center;
  letter-spacing: -0.2px;
}
.amount-2{

  color:737B81;

}
a {
  color: #0075c9;
}
.help{

  float: right;
}
h2 {
  color: #00194D;
  font-size: 20px;
}
.budget-container-flex {

  display: flex;
  justify-content: space-between;
  }

  .need{

    align-items: center;

  }

  .chartHelp{
    margin-bottom: 0%;
    text-align:right;
    
  }

  .face {
    position: relative;
    left: 5px;
    top: 30px;
}