.grid-container {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
}
.catagory {
  float: left;
}
.price {
  margin-top: 0%;
  float: right;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #e0e4e9;
  border-radius: 5px;
  padding: 20px;
  padding-left: 40px;
  font-size: 16px;
  position: relative;
}

.budget-max-width {
  margin: 0 auto;
  width: 639px;
}

.face {
  position: relative;
  left: 5px;
  top: 30px;
}

.budget-bg {
  background: #f9fafb;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}
h1 {
  font-weight: bold;
}
.amount-1 {
  color: #f26901;
  display: flex;
  align-items: center;
  letter-spacing: -0.2px;
}
.amount-2 {
  color: 737b81;
}
a {
  color: #0075c9;
}
.help {
  float: right;
}
.budget-h1 {
  color: #00194d;
  font-size: 20px;
  padding-bottom: 10px;
}
.budget-container-flex {
  display: flex;
  justify-content: space-between;
}

.need {
  align-items: center;
}

.chartHelp {
  margin-bottom: 0%;
  text-align: right;
}
.edit-budget {
  position: absolute;
  top: 20px;
  right: 20px;
}
.face {
  position: relative;
  left: 5px;
  top: 30px;
}
.budget-face-wrapper {
  display: flex;
}
.budget-face-wrapper-padding {
  padding-right: 10px;
}
