.radio-button {
  width: 100%;
  background: #f3f5f7;
  border: 1px solid #ebf0f4;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;

  font-size: 15px;
  text-transform: capitalize;
  color: var(--wealth-grey-300);
  max-width: 641px;
  margin-bottom: 9px;
  font-family: "Roboto", sans-serif;
}
input[type="radio"] {
  width: auto;
  margin: 0;
  padding: 0;
  cursor: pointer;
  width: 17px;
  height: 17px;
  margin: 20px;
}
.flex-radio-btn {
  display: flex;
  align-items: center;
  padding: 20px;
}
