
.overview-bg {
  background: #f9fafb;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

.overview-max-width {
  max-width: 641px;
  width: 100%;
}

.bar-chart-container {
  background: #fefefe;
  padding: 20px;
  max-width: 641px;
  margin-top: 30px;
  border: 1px solid #e9ecee;
  border-radius: 4px;
}


/* Flexbox styling */
.container-2 {
  display: flex;
  gap:10px;
  
  /*
    justify-content:flex-start;
    justify-content:flex-end;
    justify-content:center;
    justify-content:space-around;
    */
  justify-content: space-between;
}

.container-2 div {
  border: 1px solid #e9ecee;
  padding: 10px;
  background: #fefefe;
  border-radius: 4px;
}

.container-2-box {
  flex-basis: 51%;
}

.container-3-box {
  flex-basis: 51%;
}


.catagory {
text-align:center
} 

.catagory > div {
  vertical-align:top;
  display:inline-block;
  padding-top: 12px;
  vertical-align: middle;

}

.text {
  padding-left: 10px;
}

.percentage {
  padding-top: 1.5%;
}

.left{
  position: absolute;
  left: 10px;
}

.right{
position: absolute;
right: 10px;
}

.Add-product{
  float: right;
  padding-right: 20px;
  padding-left: 5px;
}

.Paste-icon {
  float: right;
}

.Chart {
  position: relative; 
  height: 80vh;
  padding-top: 40px;
}

.Chart-text {
  position: relative; 
  padding-top: 10px;
  padding-left:30px;
  align-content: center;
}


.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: no-wrap;
}

.flex-item {
  background: #fefefe;
  border: 1px solid #e9ecee;
  padding: 5px;
  border-radius: 4px;
  /* width: 200px; */
  height: 56px;
  max-width: 311px;
  margin-top: 10px;
  margin: 3px;
  flex-shrink: 0;
  flex-grow: 1;
  flex-basis: 200px;
}

.flex-container3 {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: no-wrap;
}

.flex-item3 {
  background: #fefefe;
  border: 1px solid #e9ecee;
  padding: 5px;
  border-radius: 4px;
  /* width: 200px; */
  height: 260px;
  max-width: 311px;
  margin-top: 10px;
  margin: 3px;
  flex-shrink: 0;
  flex-grow: 1;
  flex-basis: 200px;
}

.flex-container2 {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: no-wrap;
}

.flex-item2 {
  background: #fefefe;
  border: 1px solid #e9ecee;
  padding: 5px;
  border-radius: 4px;
  /* width: 200px; */
  height: 56px;
  max-width: 641px;
  margin-top: 10px;
  margin: 3px;
  flex-shrink: 0;
  flex-grow: 1;
  flex-basis: 200px;
}

.info-dot {
  float: left;
  width: 20px;
  height: 20px;
  margin: 2px; 
  margin-right: 17px;
}

.blue {
  background: #0151A3;
  width: 12px;
  height: 12px;
}

.info-dot2 {
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 20px;
  
}

.green {
  background: #2AA12A;
  width: 12px;
  height: 12px;
}

.Summary1 {
  float: left;
  padding-top: 22px;
  padding-left: 20px;
  
  }

.amount {
  float: right;
  padding-top: 22px;
  padding-right: 20px;
} 

.budget {
  background-color: #e6f1fa;
  position: relative;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  border-radius: 20px;
  height: 20px;
  width: 100px;
}

.budget-box {
  padding-top: 2px;
  padding-left: 10px;
}

.Heading-top {
  padding-top: 5px;
  padding-left: 80px;
  padding-bottom: 30px;
}

.face {
  position: relative;
  left: 5px;
  top: 30px;
}


.box {
  display: flex;
  flex-flow: row wrap;
  gap: 17px;
  flex: 1 1 0;
}
.tick {
  position: relative;
  left: 14px;
  top: 13px;
  z-index: 10;
}

.line {
  border-top: 1px solid grey;
  background-color: blue;
  z-index: -2;
}







   
 
